.modal2 {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 785px;
}
    

  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .w-600px {
    width: 600px;
  }

.dropdown-hidden {
    display: none;
}

.dropdown-hidden:hover {
    display: none;
}

.dropdown-show {
    display: block;
}
/* 
::placeholder {
  color: #000;
} */



.space-t-32 {
  margin-top: 32px;
}

.search {
  margin: 16px 16px 0 0;
}

.space-t-0 {
  margin-top: 0;
}

.space-b-32 {
  margin-bottom: 32px;
}

.space-t-64 {
  margin-top: 64px;
}

.space-b-64 {
  margin-bottom: 64px;
}


.FillUser {
  width: 150px;
  border: none;
  border-bottom: 1px solid #333;

}

.change {
  color: #fff;
  background-color: #FF914D;
  border: none;
}
.change:hover {
  color: #fff;
  background-color: #ffa600;
}

.SignUp {
  background-color: #FF914D;
  border: #fff;
  color: #fff;
  padding:6px 12px;
  border-radius: 5px;
  
}

/* -------------------------------------------------------- all func  -------------------------------------------------------- */




.icon-change:hover{
  filter: invert(1);
  transition: 0.2s;

}

.btn-primary{
  background-color: #FF914D;
  border: none;
}


.modal-title {
  font-size: 24px;
}

.modal-header {
  background-color: #FF914D;
  color: #fff;
  
}

.modal-body {
  margin: 0;
  padding: 0;
}


form {
  text-align: center;
  
}


.modal-footer {
  margin-top: 32px;
}

.modal-footer input {
  color: #fff;
  background-color: #FF914D;
}

.modal-footer input:hover {
  color: #fff;
  background-color: #FF914D;
}



/* -------------------------------------------------------- login end -------------------------------------------------------- */

.form {
  margin: 0 10%;
}


.form-size {
  width: 100px;
  border: none;
  border-bottom: 1px solid #333;
  background-color: #fff;
  color: #888;
}

.form-size2 {
  width: 100px;
  border: none;
  border-bottom: 1px solid #333;
  background-color: #fff;
  color: #888;
}


/* -------------------------------------------------------- sign up end -------------------------------------------------------- */

/* -------------------------------------------------------- header end -------------------------------------------------------- */

.news {
  width: 100%;
}


.all-card {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 40px;
  justify-items: center;
  
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  align-items: center;
  
  
}

/* .card h3 {
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card h3:hover {
  background-color: #000;
  color: #fff;
} */



.picture {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  justify-items: center;
}

.picture img {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
}

body .all-card .Blue  {
  background: #2196f3;
}

body .all-card .Red  {
  background: #e91e63;
}

body .all-card .Green {
  background: #23c186;
}

body .all-card .Yellow {
  background: #f4bc54;
}

.row {
  margin: 0;
  
}

/* -------------------------------------------------------- content end -------------------------------------------------------- */
footer{
  position:relative;
  margin-top: 30px;
  bottom:0;
  width:100%;
  /* z-index: -100; */
}

/* -------------------------------------------------------- footer end -------------------------------------------------------- */


@media only screen and (max-width: 1330px) {
  .card{
    width: 250px;
    height: 300px;
  }
}
@media only screen and (max-width: 1100px) {
  
  .all-card{
    grid-template-columns: repeat(2,1fr);
    
  }
  
  .card{
    margin: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .search {
    margin: 0 16px 0 0;
  }
}
@media only screen and (max-width: 700px) {

  .card {
    width: 150px;
    height: 180px;
  }


  .FillUser{
    width: 180px;
  }
  
  .row-sm {
    margin-top: 32px;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-size {
    width: 180px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: #fff;
    color: #888;
  }

  .form-size2 {
    width: 180px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: #fff;
    color: #888;
  }
  @media only screen and (max-width: 470px) {
    .card {
      width: 100px;
      height: 120px;
    }
  }
  @media only screen and (max-width: 370px) {
    .card {
      width: 80px;
      height: 100px;
    }
  }
  
}